<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <link rel="preload" href="./font/HYWH-65W.ttf" as="font" type="font/ttf">
    <link rel="preload" href="./font/NZBZ.ttf" as="font" type="font/ttf">
    <link rel="preload" href="./font/tttgbnumber.ttf" as="font" type="font/ttf">
    <link rel="stylesheet" type="text/css" href="./jinjia.css" />
    <title>Designed by Miao-Plugin</title>
</head>

<body class="{{ elem_type }} default-mode" style=transform:scale(1.3)>
    <div class="container elem-bg" id="container">

        <div class="copyright-source">Enka.Network × Teyvat Helper</div>

        <div class="basic">
            <div class="main-pic" style="background-image:url({{ char_img }})"></div>
            <div class="detail">
                <!--char_info-->
                <div class="char-name">{{ char_name }}</div>
                <div class="char-lv">
                    <span class="uid">UID {{ uid }}</span>
                    Lv.{{ char_lvl }}
                    <span class="fetter">&hearts; {{ char_fet }}</span>
                </div>

                <div class="char-talents" style="{{'padding-top: 16px' if char_props|length == 8 else ''}}">
                    <div class="talent-item">
                        <!--skill_a-->
                        <div class="talent-icon {{ char_skills['a']['plus'] }}">
                            <div class="talent-icon-img" style="background-image:url({{ char_skills['a']['img'] }})"></div>
                            <span>{{ char_skills['a']['lvl'] }}</span>
                        </div>
                    </div>
                    <div class="talent-item">
                        <!--skill_e-->
                        <div class="talent-icon {{ char_skills['e']['plus'] }}">
                            <div class="talent-icon-img" style="background-image:url({{ char_skills['e']['img'] }})"></div>
                            <span>{{ char_skills['e']['lvl'] }}</span>
                        </div>
                    </div>
                    <div class="talent-item">
                        <!--skill_q-->
                        <div class="talent-icon {{ char_skills['q']['plus'] }}">
                            <div class="talent-icon-img" style="background-image:url({{ char_skills['q']['img'] }})"></div>
                            <span>{{ char_skills['q']['lvl'] }}</span>
                        </div>
                    </div>
                </div>
                <ul class="attr" style="{{'padding-top: 16px' if char_props|length == 8 else ''}}">
                    <!--fight_prop-->
                    {% for prop in char_props %}
                    <li>{{ prop["name"] }}
                        {% if prop["weight"] %}
                        <code style="{{ 'background-color: rgba(240, 6, 6, 0.7)' if prop.get('error', '') else '' }}">{{ prop["weight"] }}</code>
                        {% endif %}
                        <strong>{{ prop["value"] }}</strong>
                        {% if prop["name"] in ["生命值", "攻击力", "防御力"] %}
                        <span><font>{{ prop["base"] }}</font>+{{ prop["extra"] }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="char-cons">
                <!--cons_data-->
                {% for con in char_cons %}
                <div class="cons-item">
                    <div class="talent-icon {{ con['state'] }}">
                        <div class="talent-icon-img" style="background-image:url({{ con['img'] }})"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="artis">

            <div>
                <div class="item weapon">
                    <!--weapon-->
                    <img src="{{ weapon['img'] }}" />
                    <div class="head">
                        <strong>{{ weapon["name"] }}</strong>
                        <div class="star star-{{ weapon['rarity'] }}"></div>
                        <span>Lv.{{ weapon["lvl"] }} <span class="affix affix-{{ weapon['affix'] }}">精{{ weapon["affix"] }}</span></span>
                    </div>
                </div>
                <div class="item arti-stat">
                    <div><strong class="mark-{{ total_mark_lvl }}">{{ total_mark_lvl }}</strong><span>圣遗物评级</span></div>
                    <div><strong>{{ total_mark }}</strong><span>圣遗物总分</span></div>
                </div>
            </div>

            {% for arti in artis %}
            <div class="item arti {{ arti['index'] }}">
                <!--arti_{{ arti["index"] }}-->
                <div class="arti-icon">
                    <img src="{{ arti['img'] }}" />
                    <span>+{{ arti["lvl"] }}</span>
                </div>
                <div class="head">
                    <strong>{{ arti["name"] }}</strong>
                    <span class="mark mark-{{ arti['calc_rank'] }}"><span>{{ arti["calc_mark"] }}分</span> - {{ arti["calc_rank"] }}</span>
                </div>
                <ul class="detail attr">
                    <li class="arti-main">
                        <span class="title">{{ arti["main_title"] }}</span>
                        <span class="val">+{{ arti["main_value"] }}</span>
                        <span class="{{ arti['main_style'] }}"> {{ arti['main_mark'] }} </span>
                    </li>
                    {% for sub in arti["subs"] %}
                    <li class="{{ sub['style'] }}">
                        <span class="title">{{ sub["title"] }}</span>
                        <span class="val">+{{ sub["value"] }}</span>
                        <span class="mark">{{ sub["mark"] }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="detail attr mark-calc">
                    {% if arti["index"] >= 3 %}
                    <li class="result">
                        <span class="title">主词条收益系数</span>
                        <span class="val">
                            * {{ arti["calc_main"] }}%
                        </span>
                    </li>
                    {% endif %}
                    <li class="result">
                        <span class="title">总分对齐系数</span>
                        <span class="val">* {{ arti["calc_total"] }}%</span>
                    </li>
                </ul>
            </div>
            {% endfor %}

        </div>

        {% if damage.get("code", "999") == 200 %}
        {% set damage = damage["result"][0] %}
        <div class="dmg-cont dmg-list cont">
            <div class="cont-title">
                伤害计算 · 评级 {{ damage["zdl_result"] }}<span>伤害以 86 级怪物为基准，等级不同有微小偏差</span>
            </div>
            <div class="cont-table">
                <div class="tr thead">
                    <!--<div class="dmg-title dmg-idx">#</div>-->
                    <div class="dmg-title">伤害类型</div>
                    <div>暴击伤害</div>
                    <div>期望伤害</div>
                </div>

                {% set cnt = [0] %}
                {% for key in ["damage_result_arr", "damage_result_arr2"] %}
                {% for dmg_detail in damage[key] %}
                <div class="dmg tr">
                    {% if cnt.append(cnt.pop() + 1) %}{% endif %}
                    <!--<div class="dmg-title dmg-idx">{{ cnt[0] }}</div>-->
                    <div class="data dmg-title">{{ "[" + damage["zdl_result2"] + "]<br>" if key == "damage_result_arr2" else '' }}{{ dmg_detail["title"] }}</div>
                    {% if "期望" in dmg_detail["value"]|string() %}
                    <div class="data value">-</div>
                    <div class="data value">{{ dmg_detail["value"].replace("期望", "") }}</div>
                    {% else %}
                    <div class="data value">{{ dmg_detail["value"] }}</div>
                    <div class="data value">{{ dmg_detail.get("expect", "-").replace("期望", "") }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="dmg-cont dmg-msg cont">
            <div class="cont-title">Buff 列表<span>部分 Buff 的触发条件以及层数可能影响实际伤害结果</span></div>
            <div class="cont-table">
                {% for buff in damage["bonus"] %}
                {% if buff["intro"].split("：")[0] not in ["注", "备注"] %}
                <div class="tr">
                    <div class="data th">{{ buff["intro"].split("：")[0] }}</div>
                    <div class="data td buff">{{ buff["intro"].split("：")[1] }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="copyright">Powered by NoneBot2 × Designed by Miao-Plugin</div>
    </div>
</body>

</html>